/* Hamburger button */
.menu-button {
  z-index: 50;
  position: relative;
  padding: 8px;
  cursor: pointer;
  border-radius: 8px;
  background-color: white;
  border: none;
}

/* Menu container */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  height: 100%;
  transform: translateY(-100%);
  transition: transform 0.5s ease-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 40;
}



/* When menu is open */
.mobile-menu.open {
  transform: translateY(0);
  top: 80px;
}

/* Menu links */
.menu-links {
  list-style: none;
  padding: 30px;
  width: 100%;
  margin: 0;

}

.menu-links li {
  padding: 32px 0;
  font-size: 2rem;
  border-top: 1px solid var(--gray-color);
}

.menu-links li a {

  transition: 0.3s;
}

.menu-links li a:hover {
  color: var(--Mgreen-color);
  
}